<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a homepage</title>
</head>
<body>
<h1>This is a password</h1>
<form action="{% url 'password' %}">
    <label>
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select>
    </label>

    <br>
    <input type="checkbox" name="uppercase"> uppercase
    <br>
    <input type="checkbox" name="numbers"> numbers
    <br>
    <input type="checkbox" name="special"> special symbols
    <br>
    <input type="submit" value="Generate password">
    <br>
</form>
</body>
</html>